extends layout.pug

block variables
    - let title = 'Titre de l\'article';

block content
    main.container
        a(href="/")
            i.fa.fa-arrow-left
            |  Retour à la liste des articles

        h1
            | Bienvenue sur mon blog 
            span.categorie
                i.fa.fa-tag
                | Catégorie
        h3
            | Publié le dd/mm/yyyy à hh:mm, par 
            em Arthur Rimbaud
        
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis libero maiores nemo voluptas error numquam adipisci natus accusantium repellat, omnis blanditiis ratione sequi dolores distinctio molestias ullam? Quas, commodi libero.

        hr



