<!DOCTYPE html>
html(lang="fr")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Blog Node.js
    body

        h1 Bienvenue #{name} sur mon blog

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis ullam omnis labore debitis iusto nostrum necessitatibus tempore unde excepturi, officia, ipsam error possimus harum! Neque ipsum est dolorem ex nostrum.